/* Base CSS */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}


body {
	font-family: "Segoe UI", "Roboto";
  font-weight: 900;
	font-size: 12px;
	color: #000;

  background: #5e5d5d;
}


/* NAVBAR */

header {
  width: 1440px;
  height: 44px;

  margin: 8px auto ; 

  background: #FFD700;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header_container {
  width: 1424px;
  height: 28px;

  background: #dd0b0b;
  color: rgba(23, 109, 234, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container_left {
  width: 20%;
  background: #7cedfc;
  display: flex;
  align-items: center;
  justify-content: left;
}


.header_container_center {
  width: 60%;
  background: #fc7ce7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: rgba(23, 109, 234, 1);
}

.header_container_right {
  width: 20%;
  background: #01eb1c;
  display: flex;
  align-items: center;
  justify-content: right;
}

.burger {
  width: 40px;
  height: 100%;
  background: #798ebb;

  display: flex;
  align-items: center;
  justify-content: center;

}

.logo_burger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  background: chartreuse;
}

.logo_ulgtu {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 4px 0 16px;
}

.logo_text {
  font-family: "Segoe UI", "Roboto";
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
}